<script>document.documentElement.classList.add('jp-js');</script>
<link rel="stylesheet" href="{{ "css/jobplorer.css" | relURL }}">
<script defer src="{{ "vendor/lucide.min.js" | relURL }}"></script>
<script defer src="{{ "js/jobplorer.js" | relURL }}"></script>

<!-- GA4 (Jobplorer.com - Web) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NZE5Y04BYQ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-NZE5Y04BYQ');
</script>
